__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/
.venv/
venv/

.env
local.settings.json

.python_packages/
bin/
obj/

mlruns/
*.db

.DS_Store

node_modules/
dist/
build/
.next/
venv312/

